@width-minus: 278px;
@top-minus: 532px;

@tablet-top: 230px;

@color: #fff;

@pc-max: 1680px; //
@pc-min: 1521px;
@tablet-max: 1520px; //
@tablet-min: 1023px;
@mobile-max: 1022px;

.randomColor() {
    @randomColor: `Math.floor(Math.random()*16777215).toString(16)`;
    @colorHex: e(@randomColor);
    @color: ~ "#@{colorHex}";
}


@font-face {
    font-family: 'Bahnschrift';
    font-display: optional;
    src: url('../fonts/bahnschrift.ttf') format('truetype');
}

@font-face {
    font-family: 'Bahnschrift-Light';
    font-display: optional;
    src: url('../fonts/bahnschrift_light.ttf') format('truetype');
}

@font-face {
    font-family: 'Bahnschrift-Semibold';
    font-display: optional;
    src: url('../fonts/bahnschrift_semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'FuturaPTMedium';
    font-display: optional;
    src: url('../fonts/FuturaPTMedium.otf') format('opentype');
}

@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');

body {
    margin: 0 0 100px 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-image: url('../images/header_bg.webp');
    background-size: 100%;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 83%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 83%);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 552px;
    max-width: 100%;
    position: relative;
    z-index: 1;

    @media (min-width: @tablet-min) and (max-width: @tablet-max) {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 82%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 82%);
        height: 293px;
    }

    @media (max-width: @mobile-max) {
        height: 293px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
    }

    .logo {
        max-width: 285px;
        height: auto;
        position: absolute;
        top: 40px;
        left: 60px;

        @media (min-width: @tablet-min) and (max-width: @tablet-max) {
            max-width: 180px;
            top: 0;
            left: 0;
        }

        @media (max-width: @mobile-max) {
            max-width: 180px;
            top: 0;
            left: 0;
        }
    }

    ul.nav {
        top: 0;
        left: 0;
        width: 100%;
        position: absolute;

        background: #fff;
        padding: 38px 0 80px 0;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 27%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 27%);
        transition: all 500ms ease;

        @media (max-width: @mobile-max) {
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
            padding: 50px 0 20px 0;
        }

        &.hide {
            top: -150px;

            @media (max-width: @mobile-max) {
                top: -200px;
            }

        }

        li.nav-item {
            margin: 0 35px;

            @media (min-width: @tablet-min) and (max-width: @tablet-max) {
                margin: 0 28px;
            }

            @media (max-width: @mobile-max) {
                margin: 5px 0px;
                display: block;
                width: 100%;
                text-align: right;
            }

            a.nav-link {
                &:hover {
                    color: #b7d400;
                }

                transition: all 500ms ease;
                font: 300 19px/0px Bahnschrift;
                letter-spacing: 2.99px;
                color: #2e3941;
                text-transform: uppercase;

                @media (min-width: @tablet-min) and (max-width: @tablet-max) {
                    font: 300 15px/0px Bahnschrift;
                    letter-spacing: 0;
                }
            }
        }
    }

    .toggle-button {
        position: absolute;
        padding: 16px;
        background: #fff;
        top: 0px;
        right: 0;
        transition: all 400ms ease;

        &.hide {
            top: 129px;

            @media (max-width: @mobile-max) {
                top: 0px;
            }
        }

        .inner {
            position: relative;
            width: 23px;
            height: 16px;

            .line {
                position: absolute;
                width: 23px;
                height: 3px;
                background: #111D27;
                -webkit-border-radius: 35%;
                -moz-border-radius: 35%;
                border-radius: 35%;
                display: block;
                margin: 3px 0;
                transition: all 800ms ease;

                &.close {
                    -webkit-border-radius: 0px;
                    -moz-border-radius: 0px;
                    border-radius: 0px;
                    opacity: 1;
                }

                &.one {
                    top: 0px;

                    &.close {
                        top: 3px;
                        left: 0;
                        transform: rotate(45deg);
                    }
                }

                &.two {
                    top: 5px;

                    &.close {
                        display: none;
                    }
                }

                &.three {
                    top: 10px;

                    &.close {
                        top: 3px;
                        left: 0px;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}

.container {
    width: 1640px;
    max-width: 1640px;


    @media (min-width: @pc-min) and (max-width: @pc-max) {
        width: 1423px;
        max-width: 1423px;
    }
}

.content-container {
    width: 1364px;
    margin: 0 auto;
}

.container-fluid {
    //padding: 0 10%;
}

.debug {
    position: fixed;
    bottom: 0;
    left: 0;
    color: red;
    z-index: 100;

    @media (min-width: @tablet-min) and (max-width: @tablet-max) {
        color: blue;
    }
}


.article-single {
    .article-header {
        width: 1640px;
        height: 398px;
        background: #325673;
        margin: -250px 0 0 -75px;
        clip-path: polygon(0% 0%, 100% 0%, 100% 56%, 13% 100%);
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 56%, 13% 100%);

        h1 {
            font: 800 40px/45px Bahnschrift;
            letter-spacing: 2.4px;
            color: #FFFFFF;
            padding: 194px 0 0 208px;
            text-transform: uppercase;
        }

        small {
            padding: 194px 0 0 208px;
            font: 300 18px/26px Bahnschrift;
            letter-spacing: 1.17px;
            color: #FFFFFF;
            text-transform: uppercase;
        }
    }

    .article-content {
        margin: 60px auto;
        width: 1364px;

        p {
            font: 300 35px/45px Roboto;
            letter-spacing: 0.88px;
            color: #325673;
        }

        h2 {
            color: #325673;
            font: 500 39px/39px 'FuturaPtMedium';
            margin: 25px 20px;
            text-align: center;
            font-style: italic;
            letter-spacing: 2px;
        }
    }
}

.video-content {
    background: #B7D400;
    padding: 99px 0 140px 0;
    width: 100%;
    margin-top: 100px;

    h1 {
        width: 674px;
        height: 328px;
        background: #325673 0% 0% no-repeat padding-box;
        clip-path: polygon(23% 0%, 0% 100%, 100% 7%);
        -webkit-clip-path: polygon(23% 0%, 0% 100%, 100% 7%);
        margin-left: -155px;
        margin-top: -187px;
    }



    .video-player {
        width: 100%;
        height: 767px;
        background: red;
        margin-top: -140px;
    }



}

.mf-container {
    width: 1640px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    top: 0;

    @media (min-width: @pc-min) and (max-width: @pc-max) {
        width: 1423px;
    }

    @media (min-width: @tablet-min) and (max-width: @tablet-max) {
        width: 990px;
        top: 23px;
    }

    @media (max-width: @mobile-max) {
        width: 375px;
    }

    .mf-rotate-text {
        position: absolute;
        width: 16px;
        height: 378px;
        background: transparent url('../images/mf_left.webp') 0% 0% no-repeat padding-box;
        z-index: 1;
        left: -27px;

        @media (min-width: @tablet-min) and (max-width: @tablet-max) {
            left: 16px;
        }

        @media (max-width: @mobile-max) {
            left: 4px;
        }
    }

    img {
        width: 100%;
        height: auto;
        padding-left: 0;
        padding-right: 0;
    }

    img.shadow {
        opacity: 0;
    }

    footer {
        position: relative;
        top: calc(2050px);
        //width: 1920px;
        height: 352px;

        @media (min-width: @tablet-min) and (max-width: @tablet-max) {
            top: calc(2460px);
            //margin: 0 -95px;
            height: 368px;
        }

        @media (max-width: @mobile-max) {
            height: 118px;
            top: calc(2680px);
        }

        &.static {
            position: static;
            top: unset;
        }

        .logo {
            width: 269px;
            height: 269px;
            background: transparent url('../images/mf_logo.webp') 0% 0% no-repeat padding-box;
            background-size: 100%;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);

            @media (min-width: @tablet-min) and (max-width: @tablet-max) {
                width: 179px;
                height: 179px;
                left: 30px;
            }

            @media (max-width: @mobile-max) {
                width: 118px;
                height: 118px;
                left: 40px;
            }
        }

        .triangle {
            left: 450px;
            width: 1155px;
            height: 352px;
            background: #CDEC00 0% 0% no-repeat padding-box;
            -webkit-clip-path: polygon(0 0, 3% 100%, 55% 100%);
            clip-path: polygon(0 0, 3% 100%, 55% 100%);
            position: absolute;

            @media (min-width: @tablet-min) and (max-width: @tablet-max) {
                top: calc(90px);
                left: 346px;
                width: 772px;
                height: 278px;
                -webkit-clip-path: polygon(0 0, 3% 100%, 63% 100%);
                clip-path: polygon(0 0, 3% 100%, 63% 100%);
                z-index: 0;
            }

            @media (max-width: @mobile-max) {
                width: 200px;
                height: 114px;
                left: unset;
                right: -53px;
                //-webkit-clip-path: polygon(0 0, 100% 73%, 100% 100%, 10% 100%);
                //clip-path: polygon(0 0, 100% 73%, 100% 100%, 10% 100%);
                -webkit-clip-path: polygon(0 0, 10% 100%, 100% 100%);
                clip-path: polygon(0 0, 10% 100%, 100% 100%);
            }
        }

        .contact {
            width: 354px;
            height: 152px;
            top: 50%;
            left: 252px;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            position: absolute;

            @media (min-width: @tablet-min) and (max-width: @tablet-max) {
                width: 354px;
                height: 152px;
                top: 59%;
                left: 191px;
            }

            @media (max-width: @mobile-max) {
                height: auto;
                width: auto;
                left: 193px;
                top: calc(50% + 15px);
            }

            h1 {
                text-align: left;
                font: 600 24px/41px Bahnschrift;
                letter-spacing: 1.89px;
                color: #111D27;

                @media (min-width: @tablet-min) and (max-width: @tablet-max) {
                    font: 600 18px/8px Bahnschrift;
                    letter-spacing: 1.24px;
                }

                @media (max-width: @mobile-max) {
                    font: 700 12px/16px Bahnschrift;
                    letter-spacing: 0.78px;
                }
            }

            p {
                text-align: left;
                font: 300 22px/34px Bahnschrift;
                letter-spacing: 1px;
                color: #111D27;
                margin: 12px 0px;

                @media (min-width: @tablet-min) and (max-width: @tablet-max) {
                    font: 500 19px/27px Bahnschrift;
                    letter-spacing: 1.24px;
                }

                @media (max-width: @mobile-max) {
                    font: 300 12px/16px Bahnschrift;
                    letter-spacing: 0.78px;
                }
            }
        }
    }
}

.modal-dialog {
    max-width: 80%;
    margin: 30px auto;
}



.modal-body {
    position: relative;
    padding: 0px;
}

.close {
    position: absolute;
    right: -30px;
    top: 0;
    z-index: 999;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    opacity: 1;
}
